// start about-page
.about-page {
    background-color: #f2f9fe;
    padding: 70px 0;
    position: relative;
}

.about-page__wrapper {
    display: flex;
    justify-content: space-between;
}

.about-page__inner {
    max-width: 485px;
    margin-top: 70px;
}

.about-page__title {
    color: $lightgreen;
    font-size: 36px;
    font-family: 'Raleway-Bold';
    margin-bottom: 16px;
    position: relative;
}

.about-page__title::after {
    content: "";
    width: 104px;
    height: 2px;
    background-color: $brown;
    position: absolute;
    display: block;
    bottom: -16px;
    left: 0;
}

.about-page__desc {
    margin-top: 40px;
    font-size: 36px;
    color: $color-grey;
    margin-bottom: 40px;
}

.about-page__text {
    line-height: 24px;
    color: $color-grey;
    margin-bottom: 50px;
}

// end about-page