// button
.download-page__btn {
    width: 242px;
    border-radius: 25px;
    padding: 15px 40px;
    background-color: transparent;
    border: 3px solid $blue;
    outline: none;
    cursor: pointer;
    text-align: center;

    a {
        color: $white;
        font-size: 21px;
        font-family: 'Raleway-Bold';
    }

}
.about-page__btn {
    width: 242px;
    border-radius: 25px;
    padding: 15px 40px;
    background-color: transparent;
    border: 3px solid #aab2b5;
    outline: none;
    cursor: pointer;
    text-align: center;
    a {
        color: $brown;
        font-size: 21px;
        font-family: 'Raleway-Bold';
    }
}
