// start featured
.featured-page {
    padding: 90px 0;
    background-color: $white;
}
.featured-page__title {
    color: $brown;
    font-size: 36px;
    text-align: center;
    font-family: 'Raleway-Bold';
    margin-bottom: 30px;
}
.featured-page__desc {
    color: $lightgrey;
    text-align: center;
    width: 760px;
    margin: 0 auto;
    line-height: 24px;
    margin-bottom: 60px;
}
.featured-page__inner {
    display: flex;
    justify-content: space-between;
    .tabs {
        display: block;
    }
}
.featured-page__inner {
    span+ span {
        margin-bottom: 60px;
    }
}

// end featured