// start gallery-page
.gallery-page {
    padding: 90px 0 110px;
}

.gallery-page__images {
    margin-bottom: 40px;
}
.gallery-page__text {
    font-size: 14px;
    line-height: 24px;
    color: $color-grey;
    width: 295px;
    text-align: center;
}




// end gallery-page