// start gallery-page
.gallery-page {
    padding: 90px 0 110px;
}

.gallery-page__images {
    margin-bottom: 40px;
}

.gallery-page__text {
    font-size: 14px;
    line-height: 24px;
    color: $color-grey;
    width: 295px;
    text-align: center;
}

.gallery-page__items {
    text-align: center;
    max-width: 0 auto;
    .slick-btn {
        border: none;
        outline: none;
        background-color: transparent;
        position: absolute;
        cursor: pointer;
    }

    .slick-prev {
        left: -150px;
        z-index: 5;
        top: 285px;
    }
    .slick-next {
        right: -50px;
        z-index: 5;
        top: 285px;
    }

}




// end gallery-page